body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    text-align: justify;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 90%;
}

.hire-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    color: #ffffff;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {}